---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Please Hold">
	<main class="flex min-h-screen items-center justify-center">
		<h1 class="text-4xl font-bold">Please Hold</h1>
	</main>
</Layout>
